*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  background-color: #fff; }

.u-center {
  text-align: center; }

.btn:link, .btn:visited {
  text-decoration: none;
  font-size: 1.4rem;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
  border: 1px solid #080D18; }

.btn--1 {
  margin-right: 2rem;
  background-color: #080D18;
  color: #FFFFFE; }

.btn--2 {
  background-color: #F5F5F5;
  color: #080D18; }

.heading-2 {
  font-size: 4rem;
  color: #fff;
  font-weight: 500;
  letter-spacing: 2px; }

.navigation {
  padding: 2rem 14% 2rem 4%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navigation__list {
    list-style: none; }
  .navigation__item {
    display: inline-block;
    padding: 0 2rem; }
  .navigation__link {
    text-decoration: none;
    color: #080D18;
    font-size: 1.4rem;
    font-weight: 400; }

.hero {
  position: relative; }
  .hero__img {
    width: 100%;
    height: 50%;
    display: block; }
  .hero__center {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100rem;
    line-height: 3; }
  .hero__input {
    width: 70%;
    padding: 1.2rem;
    padding-left: 15rem;
    outline: none; }
  .hero__span--1 {
    font-size: 1.4rem;
    color: #fff;
    background-color: #080D18;
    padding: .1rem 3rem;
    position: absolute;
    right: 15rem;
    border-radius: 0 4px 4px 0; }
  .hero__span--2 {
    font-size: 1.4rem;
    color: #777;
    padding: .1rem 1.2rem;
    position: absolute;
    left: 15rem;
    border-radius: 0 4px 4px 0; }
