*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  background-color: #fff; }

.u-center {
  text-align: center; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-tp {
  margin-top: 2rem; }

.btn:link, .btn:visited {
  text-decoration: none;
  font-size: 1.4rem;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
  border: 1px solid #080D18; }

.btn--1 {
  margin-right: 2rem;
  background-color: #080D18;
  color: #FFFFFE; }

.btn--2 {
  background-color: #F5F5F5;
  color: #080D18; }

.heading-2 {
  font-size: 4rem;
  color: #fff;
  font-weight: 500;
  letter-spacing: 2px; }

.navigation {
  padding: 2rem 14% 2rem 4%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navigation__list {
    list-style: none; }
  .navigation__item {
    display: inline-block;
    padding: 0 2rem; }
  .navigation__link {
    text-decoration: none;
    color: #080D18;
    font-size: 1.4rem;
    font-weight: 400; }

.hero {
  position: relative; }
  .hero__img {
    width: 100%;
    height: 50%;
    display: block; }
  .hero__center {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100rem;
    line-height: 3; }
  .hero__input {
    width: 70%;
    padding: 1.2rem;
    padding-left: 15rem;
    outline: none; }
  .hero__span--1 {
    font-size: 1.4rem;
    color: #fff;
    background-color: #080D18;
    padding: .1rem 3rem;
    position: absolute;
    right: 15rem;
    border-radius: 0 4px 4px 0; }
  .hero__span--2 {
    font-size: 1.4rem;
    color: #777;
    border: none;
    padding: .2px 2rem;
    position: absolute;
    left: 15rem;
    border-radius: 0 4px 4px 0; }
  .hero__last {
    float: right;
    margin-right: 15rem;
    color: #fff;
    display: flex; }
    .hero__last input {
      border: 1px solid #FAFCFF;
      outline: none;
      background-color: transparent;
      border-radius: 2px; }
  .hero__paragraph {
    margin-right: 2rem; }

.budget {
  padding: 10rem 0; }
  .budget__overall {
    width: 60rem;
    margin: 0 auto;
    text-align: center; }
  .budget__h2 {
    font-size: 3rem;
    font-weight: bold; }
  .budget__paragraph {
    font-size: 1.5rem;
    font-family: Montserrat;
    font-weight: 700;
    letter-spacing: 0px;
    text-align: center; }

.category {
  padding: 10rem 5rem;
  position: relative; }
  .category__lit {
    display: flex;
    justify-content: space-between; }
  .category__h2 {
    font-family: Montserrat;
    font-size: 3rem;
    font-weight: 600;
    line-height: 44px; }
  .category__link {
    text-decoration: none;
    font-size: 1.4rem; }
  .category__img {
    display: flex;
    justify-content: space-around; }
  .category__paragraph {
    text-align: center;
    font-size: 1.3rem; }
  .category__svg {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 55%;
    cursor: pointer; }
    .category__svg--1 {
      left: 4rem; }
    .category__svg--2 {
      right: 4rem; }
