*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 60%; } }
  @media (max-width: 75em) {
    html {
      font-size: 70%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 80%; } }

body {
  background-color: #fff; }

.u-center {
  text-align: center; }

.mb-sm {
  margin-bottom: 2rem; }

.mt-sm {
  margin-top: 2rem; }

.btn:link, .btn:visited {
  text-decoration: none;
  font-size: 1.4rem;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
  border: 1px solid #080D18; }

.btn--1 {
  margin-right: 2rem;
  background-color: #080D18;
  color: #FFFFFE; }

.btn--2 {
  background-color: #F5F5F5;
  color: #080D18; }

.heading-2 {
  font-size: 4rem;
  color: #fff;
  font-weight: 500;
  letter-spacing: 2px; }

.generate {
  padding: 5rem 5rem; }
  .generate__overall {
    width: 70rem;
    margin: 5rem auto;
    text-align: center; }
  .generate__h2 {
    font-size: 5rem;
    font-weight: 700;
    font-family: montserrat; }
  .generate__h3 {
    font-size: 3rem;
    margin-bottom: 3rem; }
  .generate__paragraph {
    font-size: 2rem; }
  .generate__media {
    margin: 6rem 0; }
  .generate__svg {
    width: 1.5rem;
    height: 1.5rem; }
  .generate__link {
    text-decoration: none;
    font-size: 1.6rem;
    border: 1px solid #182747;
    border-radius: 3px;
    padding: 1.6rem;
    color: #182747;
    text-align: center; }
    .generate__link:not(:last-child) {
      margin-right: 2rem; }
  .generate__block {
    width: 60rem;
    margin: auto; }
  .generate__sub {
    width: 100%;
    margin-bottom: 2rem; }
  .generate__label {
    width: 10rem;
    font-size: 1.6rem;
    color: #182747; }
  .generate__button {
    width: 50%;
    padding: 2rem;
    background: #182747;
    border-radius: 8px;
    color: #FFFFFE;
    border: none;
    cursor: pointer; }

.signup {
  padding: 10rem 5rem; }
  .signup__overall {
    width: 70rem;
    margin: 0 auto;
    text-align: center; }
  .signup__h2 {
    font-size: 5rem;
    font-weight: 700;
    font-family: montserrat; }
  .signup__h3 {
    font-size: 3rem;
    margin-bottom: 3rem; }
  .signup__paragraph {
    font-size: 2rem; }
  .signup__media {
    margin: 6rem 0; }
  .signup__svg {
    width: 1.5rem;
    height: 1.5rem; }
  .signup__link {
    text-decoration: none;
    font-size: 1.6rem;
    border: 1px solid #182747;
    border-radius: 3px;
    padding: 1.6rem;
    color: #182747;
    text-align: center; }
    .signup__link:not(:last-child) {
      margin-right: 2rem; }
  .signup__block {
    width: 60rem;
    margin: auto; }
  .signup__sub {
    width: 100%;
    margin-bottom: 2rem; }
  .signup__main {
    display: flex;
    align-items: center;
    color: #070705;
    font-size: 1.2rem; }
  .signup__main input {
    margin-right: 1rem; }
  .signup__main a {
    text-decoration: none; }
  .signup__label {
    width: 10rem;
    font-size: 1.6rem;
    color: #182747; }
  .signup__input {
    width: 100%;
    padding: 1rem 1rem;
    outline: none; }
  .signup__button {
    width: 100%;
    padding: 2rem;
    background: #182747;
    border-radius: 8px;
    color: #FFFFFE;
    border: none;
    cursor: pointer; }
  .signup__end {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.4rem; }
  .signup__end a {
    color: #555FB9;
    text-decoration: none; }

.signin {
  padding: 10rem 5rem; }
  .signin__overall {
    width: 70rem;
    margin: 0 auto;
    text-align: center; }
  .signin__h2 {
    font-size: 5rem;
    font-weight: 700;
    font-family: montserrat; }
  .signin__h3 {
    font-size: 3rem;
    margin-bottom: 3rem; }
  .signin__paragraph {
    font-size: 2rem; }
  .signin__media {
    margin: 6rem 0; }
  .signin__svg {
    width: 1.5rem;
    height: 1.5rem; }
  .signin__link {
    text-decoration: none;
    font-size: 1.6rem;
    border: 1px solid #182747;
    border-radius: 3px;
    padding: 1.6rem;
    color: #182747;
    text-align: center; }
    .signin__link:not(:last-child) {
      margin-right: 2rem; }
  .signin__block {
    width: 60rem;
    margin: auto; }
  .signin__sub {
    margin-bottom: 2rem; }
  .signin__main {
    display: flex;
    align-items: center;
    color: #070705;
    font-size: 1.2rem; }
  .signin__main input {
    margin-right: 1rem; }
  .signin__main a {
    text-decoration: none; }
  .signin__label {
    width: 10rem;
    font-size: 1.6rem;
    color: #182747; }
  .signin__input {
    width: 100%;
    padding: 1rem 1rem;
    outline: none; }
  .signin__button {
    width: 100%;
    padding: 2rem;
    background: #182747;
    border-radius: 8px;
    color: #FFFFFE;
    border: none;
    cursor: pointer; }
  .signin__end {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.4rem; }
  .signin__end a {
    color: #555FB9;
    text-decoration: none;
    font-weight: bold; }
  .signin__forget {
    display: flex;
    align-items: center;
    font-size: 1.3rem; }
    .signin__forget--paragraph {
      margin-right: auto; }
    .signin__forget--link {
      text-decoration: none;
      font-weight: bold; }
    .signin__forget--input {
      margin-right: 1rem; }

.product {
  padding: 2rem 5rem; }
  .product__center {
    width: 40%;
    margin: 0 auto;
    margin-top: 4rem; }
  .product__form {
    display: flex;
    align-items: center; }
  .product__input {
    width: 90%;
    padding: 2rem;
    outline: none; }
  .product__span {
    background: #182747;
    padding: 2.3rem 1rem;
    border-radius: 0 8px 8px 0;
    color: #fff;
    font-size: 1.2rem; }
  .product__hero {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
  .product__hero-p {
    font-size: 1.4rem; }

.pro {
  padding: 20rem 5rem; }
  .pro__lit {
    display: flex;
    justify-content: space-between; }
  .pro__svg {
    width: 2rem;
    height: 2rem;
    fill: #D9D9D9; }
    .pro__svg:not(:last-child) {
      fill: #EEA620; }
  .pro__list {
    display: flex;
    justify-content: space-around; }
  .pro__img {
    width: 100%;
    height: 80%; }
  .pro__paragraph {
    font-size: 1.2rem; }
  .pro__sub {
    width: 90%;
    height: 30%;
    border: 1px solid #080D18;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .pro__price {
    display: flex;
    justify-content: space-between;
    align-items: center; }

#hero {
  margin-left: 1rem;
  padding: 1rem; }

.deal {
  padding: 0 5rem 12rem 5rem;
  background-color: #fff;
  border: 1px solid #C5C5C5;
  position: relative; }
  .deal__lit {
    text-align: center; }
  .deal__h2 {
    font-family: Montserrat;
    font-size: 3rem;
    font-weight: 600;
    line-height: 44px; }
  .deal__link {
    text-decoration: none;
    font-size: 1.4rem; }
  .deal__img {
    display: flex;
    justify-content: space-around; }
  .deal__figure {
    width: 90%;
    display: block; }
  .deal__paragraph {
    text-align: center;
    font-size: 1.3rem; }
  .deal__svg {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 55%;
    cursor: pointer; }
    .deal__svg--1 {
      left: 4rem; }
    .deal__svg--2 {
      right: 4rem; }
  .deal__link {
    margin-top: 6rem; }
    .deal__link-sub {
      border: 1px solid #C5C5C5;
      padding: 1rem 2rem;
      font-size: 1.4rem;
      text-decoration: none; }

.aboutus {
  padding: 0 5rem; }
  .aboutus-1 {
    display: flex;
    align-items: center;
    padding: 5rem 5rem; }
    .aboutus-1__paragraph {
      width: 60rem;
      font-size: 1.8rem;
      font-weight: 500; }
    .aboutus-1__img {
      width: 40%;
      margin-right: 6rem; }
  .aboutus-2 {
    padding: 5rem 0; }
    .aboutus-2__h2 {
      text-align: center;
      color: #182747;
      font-size: 2rem;
      font-weight: 400;
      letter-spacing: 2px; }
    .aboutus-2__paragraph {
      width: 60%;
      margin: auto;
      font-size: 1.6rem; }
  .aboutus-3__h2 {
    text-align: center;
    color: #182747;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 2px; }
  .aboutus-3__main {
    display: flex;
    justify-content: space-around; }
  .aboutus-4 {
    padding: 5rem 0; }
    .aboutus-4__h2 {
      text-align: center;
      color: #182747;
      font-size: 2rem;
      font-weight: 400;
      letter-spacing: 2px; }
  .aboutus-5 {
    padding: 5rem 0; }
    .aboutus-5__h2 {
      text-align: center;
      color: #182747;
      font-size: 4rem;
      font-weight: bold;
      letter-spacing: 2px; }
    .aboutus-5__paragraph {
      width: 80%;
      margin: auto;
      font-size: 1.6rem;
      text-align: center; }
    .aboutus-5__form {
      width: 40%;
      margin: auto;
      margin-top: 2rem; }
    .aboutus-5__main {
      display: flex; }
    .aboutus-5__input {
      width: 80%;
      padding: 1.6rem; }
    .aboutus-5__span {
      background-color: #182747;
      color: #fff;
      padding: 1.8rem;
      font-size: 1.3rem;
      border-radius: 0 .8rem .8rem 0; }

.contactus-1 {
  position: relative; }
  .contactus-1__img {
    width: 100%; }
  .contactus-1__main {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center; }
  .contactus-1__h1 {
    font-size: 8rem;
    font-weight: 700; }
  .contactus-1__paragraph {
    font-size: 3rem;
    font-weight: 400; }

.contactus-2 {
  border: 1px solid #D9D9D9;
  width: 70%;
  margin: 10rem auto;
  padding: 6rem;
  background-color: #F5F5F5; }
  .contactus-2__h2 {
    margin-bottom: 3rem;
    font-size: 3rem;
    color: #080D18; }
  .contactus-2__main {
    display: flex;
    justify-content: space-around; }
  .contactus-2__sub {
    border: 1px solid #D9D9D9;
    text-align: center;
    padding: 2rem;
    width: 20rem; }
  .contactus-2__paragraph {
    color: #475252;
    font-size: 1.4rem; }
  .contactus-2__svg {
    width: 2rem;
    height: 2rem;
    margin-bottom: 1.2rem; }

.contactus-3 {
  width: 80%;
  margin: 10rem auto; }
  .contactus-3__main {
    width: 50%;
    margin: auto; }
  .contactus-3__field {
    margin-bottom: 2rem; }
  .contactus-3__label {
    font-size: 1.4rem; }
  .contactus-3__input {
    width: 100%;
    padding: 1.5rem; }
  .contactus-3__para {
    font-size: 6rem; }
  .contactus-3__paragraph {
    font-size: 3rem;
    margin-bottom: 3rem; }
  .contactus-3__btn {
    width: 40%;
    background-color: #182747;
    color: #fff;
    padding: 1rem;
    border: none;
    cursor: pointer; }

.faq-1 {
  position: relative; }
  .faq-1__img {
    width: 100%; }

.navigation {
  padding: 2rem 14% 2rem 4%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navigation__list {
    list-style: none; }
  .navigation__item {
    display: inline-block;
    padding: 0 2rem; }
  .navigation__link {
    text-decoration: none;
    color: #080D18;
    font-size: 1.4rem;
    font-weight: 400; }
    .navigation__link:hover {
      border-bottom: 2px solid #080D18; }

.footer {
  background: #182747;
  padding: 5rem 5rem;
  color: #FAFCFF;
  font-size: 1.4rem; }
  .footer__img {
    margin-right: 60rem;
    margin-top: -3rem; }
  .footer__h2 {
    text-transform: uppercase;
    margin-bottom: 2rem; }
  .footer__list {
    display: flex; }
  .footer__item:not(:last-child) {
    margin-right: 8rem; }
  .footer ul {
    list-style: none; }
  .footer li {
    display: block;
    margin: 1rem 0; }
  .footer__svg {
    width: 2rem;
    height: 2rem;
    fill: #FAFCFF;
    margin-right: 2rem; }
  .footer__end {
    display: flex;
    align-items: center;
    width: 40%;
    margin-top: 6rem; }
  .footer__paragraph {
    margin-right: 6rem;
    font-weight: bold;
    font-size: 1.8rem; }

.copyright {
  padding: 2rem;
  font-size: 1.45rem; }

.hero {
  position: relative; }
  .hero__img {
    width: 100%;
    height: 50%;
    display: block; }
  .hero__center {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100rem;
    line-height: 3; }
  .hero__input {
    width: 70%;
    padding: 1.2rem;
    padding-left: 15rem;
    outline: none; }
  .hero__span--1 {
    font-size: 1.4rem;
    color: #fff;
    background-color: #080D18;
    padding: .1rem 3rem;
    position: absolute;
    right: 15rem;
    border-radius: 0 4px 4px 0; }
  .hero__span--2 {
    font-size: 1.4rem;
    color: #777;
    border: none;
    padding: .2px 2rem;
    position: absolute;
    left: 15rem;
    border-radius: 0 4px 4px 0; }
  .hero__last {
    float: right;
    margin-right: 15rem;
    color: #fff;
    display: flex; }
    .hero__last input {
      border: 1px solid #FAFCFF;
      outline: none;
      background-color: transparent;
      border-radius: 2px; }
  .hero__paragraph {
    margin-right: 2rem; }

#hero {
  width: 20rem;
  outline: none; }

.budget {
  padding: 10rem 0; }
  .budget__overall {
    width: 60rem;
    margin: 0 auto;
    text-align: center; }
  .budget__h2 {
    font-size: 3rem;
    font-weight: bold; }
  .budget__paragraph {
    font-size: 1.5rem;
    font-family: Montserrat;
    font-weight: 700;
    letter-spacing: 0px;
    text-align: center; }

.category {
  padding: 10rem 5rem;
  position: relative; }
  .category__lit {
    display: flex;
    justify-content: space-between; }
  .category__h2 {
    font-family: Montserrat;
    font-size: 3rem;
    font-weight: 600;
    line-height: 44px; }
  .category__link {
    text-decoration: none;
    font-size: 1.4rem; }
  .category__img {
    display: flex;
    justify-content: space-around; }
  .category__figure {
    width: 90%;
    display: block; }
  .category__paragraph {
    text-align: center;
    font-size: 1.3rem; }
  .category__svg {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 55%;
    cursor: pointer; }
    .category__svg--1 {
      left: 4rem; }
    .category__svg--2 {
      right: 4rem; }

.category-1 {
  padding: 2rem 5rem;
  position: relative; }
  .category-1__lit {
    display: flex;
    justify-content: space-between; }
  .category-1__h2 {
    font-family: Montserrat;
    font-size: 3rem;
    font-weight: 600;
    line-height: 44px; }
  .category-1__link {
    text-decoration: none;
    font-size: 1.4rem; }
  .category-1__img {
    display: flex;
    justify-content: space-around; }
  .category-1__figure {
    width: 90%; }
  .category-1__paragraph {
    text-align: center;
    font-size: 1.3rem; }
  .category-1__svg {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 55%;
    cursor: pointer; }
    .category-1__svg--1 {
      left: 4rem; }
    .category-1__svg--2 {
      right: 4rem; }

.top {
  padding: 10rem 5rem;
  position: relative; }
  .top__lit {
    display: flex;
    justify-content: space-between; }
  .top__h2 {
    font-family: Montserrat;
    font-size: 3rem;
    font-weight: 600;
    line-height: 44px; }
  .top__link {
    text-decoration: none;
    font-size: 1.4rem; }
  .top__list {
    display: flex;
    justify-content: space-around; }
    .top__list-1 {
      border: 1px solid red; }
  .top__item {
    padding: 1.2rem; }
  .top__paragraph {
    font-size: 1.3rem;
    margin-bottom: 1rem; }
  .top__svg {
    width: 2rem;
    height: 2rem;
    fill: #D9D9D9; }
    .top__svg:not(:last-child) {
      fill: #EEA620; }
  .top__image {
    width: 95%; }
  .top__btn {
    padding: 1rem 2rem;
    border: 1px solid #182747;
    border-radius: 3px;
    background-color: #FAFCFF;
    margin-top: 1rem; }

.sale {
  padding: 10rem 5rem; }
  .sale__lit {
    display: flex;
    justify-content: space-between; }
  .sale__svg {
    width: 2rem;
    height: 2rem;
    fill: #D9D9D9; }
    .sale__svg:not(:last-child) {
      fill: #EEA620; }
  .sale__list {
    display: flex;
    justify-content: space-around; }
  .sale__img {
    width: 100%;
    height: 100%; }
  .sale__paragraph {
    font-size: 1.2rem; }
  .sale__sub {
    width: 90%;
    height: 30%;
    border: 1px solid #080D18;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .sale__price {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.news-letter {
  padding: 10rem 0; }
  .news-letter__overall {
    width: 80rem;
    margin: 0 auto;
    text-align: center; }
  .news-letter__h2 {
    font-size: 4rem;
    font-weight: bold; }
  .news-letter__paragraph {
    font-size: 1.5rem;
    font-family: Montserrat;
    font-weight: 700;
    letter-spacing: 0px;
    text-align: center; }
  .news-letter__input {
    width: 70%;
    padding: 1.2rem;
    outline: none; }
  .news-letter__span {
    font-size: 1.4rem;
    color: #fff;
    background-color: #080D18;
    padding: 1.4rem;
    border-radius: 0 4px 4px 0;
    margin-left: -.3rem; }
