.footer {
    background: #182747;
    padding: 5rem 5rem;
    color: $color-white;
    font-size: 1.4rem;

    &__img {
        margin-right: 60rem;
        margin-top: -3rem;
    }

    &__h2 {
        text-transform: uppercase;
        margin-bottom: 2rem;
    }

    &__list {
        display: flex;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 8rem;
        }
    }

    & ul {
        list-style: none;
    }

    & li {
        display: block;
        margin: 1rem 0;
    }

    &__svg {
        width: 2rem;
        height: 2rem;
        fill: $color-white;

        margin-right: 2rem;
    }

    &__end {
        display: flex;
        align-items: center;
        width: 40%;
        margin-top: 6rem;
    }

    &__paragraph {
        margin-right: 6rem;
        font-weight: bold;
        font-size: 1.8rem;
    }
}

.copyright {
    padding: 2rem;
    font-size: 1.45rem;
}