.navigation {
    padding: 2rem 14% 2rem 4%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;
        padding: 0 2rem;

        color: #080D18;
        
    }

    &__link {
        text-decoration: none;
        color: #080D18;
        font-size: 1.5rem;
        font-weight: 400;

        &:hover {
            border-bottom: 2px solid #080D18;
        }
    }

    
}