.contactus {
    

    &-1 {
        position: relative;


        &__img {
            width: 100%;
        }

        &__main {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%,-50%);
            
            color: #fff;
            text-align: center;
        }

        &__h1 {
            font-size: 8rem;
            font-weight: 700;
        }

        &__paragraph {
            font-size: 3rem;
            font-weight: 400;
        }
    }

    &-2 {
        border: 1px solid #D9D9D9;
        width: 70%;
        margin: 10rem auto;
        padding: 6rem;
        background-color: #F5F5F5;

        &__h2 {
            margin-bottom: 3rem;
            font-size: 3rem;
            color: #080D18;
        }


        &__main {
            display: flex;
            justify-content: space-around;
        }

        &__sub {
            border: 1px solid #D9D9D9;
            text-align: center;
            padding: 2rem;
            width: 20rem;
        }

        &__paragraph {
            color: #475252;
            font-size: 1.4rem;
        }

        &__svg {
            width: 2rem;
            height: 2rem;
            margin-bottom: 1.2rem;
        }
    }

    &-3 {
        width: 80%;
        margin: 10rem auto;
        

        &__main {
            width: 50%;
            margin: auto;
        }

        &__field {
            margin-bottom: 2rem;
        }

        &__label {
            font-size: 1.4rem;
        }

        &__input {
            width: 100%;
            padding: 1.5rem;
        }

        &__para {
            font-size: 6rem;
        }

        &__paragraph {
            font-size: 3rem;
            margin-bottom: 3rem;
        }

        &__btn {
            width: 40%;
            background-color: #182747;
            color: #fff;
            padding: 1rem;
            border: none;
            cursor: pointer;
        }
    }
}