.btn {
    &:link,
    &:visited {
        text-decoration: none;
        font-size: 1.4rem;
        display: inline-block;
        padding: 1rem 2rem;
        border-radius: 8px;
        border: 1px solid #182747;
    }

    &--1 {
        margin-right: 2rem;
        background-color: #182747;
        color: #FFFFFE;
    }

    &--2 {
        background-color: #F5F5F5;
        color: #182747;
    }
}

.heading-2 {
    font-size: 4rem;
    color: #fff;
    font-weight: 500;
    letter-spacing: 2px;
    
}