.hero {
    position: relative;

    &__img {
        width: 100%;
        height: 50%;
        display: block;
    }

    &__center {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100rem;
    }

    &__form {
        width: 50%;
        margin: auto;
    }

    &__input {
        width: 90%;
        padding: 1.5rem;
        font-size: 1.6rem;
        outline: none;
        border-radius: .8rem 0 0 .8rem;
        border: none;
    }

    &__span {
        background-color: #182747;
        font-size: 2rem;
        padding: 1.4rem;
        color: $color-white;
        border-radius: 0 .8rem .8rem 0;
    }

    &__field-1 {
        display: flex;
        margin-bottom: 2rem;
    }
    
    &__field-2 {
        display: flex;

        align-items: center;
        justify-content: flex-end;
        
    }
    
    &__paragraph {
        font-size: 1.5rem;
        color: #fff;
    }

    &__option {
        color: #182747;
    }
}

#hero {
    width: 20rem;
    background-color: transparent;
    border: 1px solid $color-white;
    outline: none;
    color: $color-white;
    
    border-radius: 8px;

}