.top {
    padding: 10rem 5rem;
    position: relative;

    &__lit {
        display: flex;
        justify-content: space-between;
    }

    &__h2 {
        font-family: Montserrat;
        font-size: 3rem;
        font-weight: 600;
        line-height: 44px;
    }

    &__link {
        text-decoration: none;
        font-size: 1.4rem;
    }

    &__img {
        display: flex;
        justify-content: space-around;

        
    }

    &__paragraph {
        text-align: center;
        font-size: 1.3rem;
    }

    &__svg {
        width: 2.5rem;
        height: 2.5rem;
        position: absolute;
        top: 55%;
        cursor: pointer;

        &--1 {
            left: 4rem;
        }

        &--2 {
            right: 4rem;
        }
    }
}