.top {
    padding: 10rem 5rem;
    position: relative;

    &__lit {
        display: flex;
        justify-content: space-between;
    }

    &__h2 {
        font-family: Montserrat;
        font-size: 3rem;
        font-weight: 600;
        line-height: 44px;
    }

    &__link {
        text-decoration: none;
        font-size: 1.4rem;
    }

    &__list {
        display: flex;
        justify-content: space-around;

        

        &-1 {
            border: 1px solid red;
        }
    }

    &__item {
        padding: 1.2rem;
    }

    

    &__paragraph {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    &__svg {
        width: 2rem;
        height: 2rem;
        fill: #D9D9D9;

        &:not(:last-child) {
            fill: #EEA620;
        }
    
    }


    &__image {
        width: 95%;
    }

    &__btn {
        padding: 1rem 2rem;
        border: 1px solid #182747; 
        border-radius: 3px;
        background-color: $color-white;
        margin-top: 1rem;
    }

}